/_MTG/
/splitted/
splitted/beds
splitted/binoculars
splitted/boats
splitted/bones
splitted/bucket
splitted/butterflies
splitted/carts
splitted/creative
splitted/default
splitted/doors
splitted/dungeon_loot
splitted/dye
splitted/env_sounds
splitted/farming
splitted/fire
splitted/fireflies
splitted/flowers
splitted/game_commands
splitted/give_initial_stuff
splitted/map
splitted/mtg_craftguide
splitted/player_api
splitted/screwdriver
splitted/sethome
splitted/sfinv
splitted/spawn
splitted/stairs
splitted/tnt
splitted/vessels
splitted/walls
splitted/weather
splitted/wool
splitted/xpanes
